question 1
which player has won the most player of the match awards?
expected answer: AB de Villiers
actual answer:AB de Villiers

question 2
who scored the most sixes in ipl history
expected :Chris Gayle
actual:Chris Gayle

question 3
Which team has reached the IPL final the most times?
Expected: Mumbai Indians
actual:Chennai Super Kings

question 4
which team relies most on boundaries for its runs?
expected: RCB
actual:Mumbai Indians

question 5
Which player has played the most IPL matches without ever winning the IPL trophy?
Expected: Virat Kohli
Actual: Virat Kohli

Question 6
Who is the only player to win the IPL Orange Cap while playing for two different teams?
Expected: David Warner
Actual: David Warner

question 7
which bowler has the best dot-ball rate at the death? who bowled min 300 balls
expected:narine
actual:rashid khan

question 8
Which bowler has the best economy rate with at least 500 balls?
expected:A Kumble has the best economy rate among bowlers with at least 500 balls.
actual:A Kumble